<!doctype html>
<html ng-app="plunker">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="example.js"></script>
    <script src="js/movieSearch.js"></script> 
       <script src="js/app.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
     <script src="js/controllers.js"></script>
        <script src="lib/angular/angular-resource.js"></script>
  </head>
  <body>
<style>
      li {
    
    
    };
      </style>
<div ng-controller="CarouselDemoCtrl">
  <carousel interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="images/{{slide.image}}" style="margin:auto;">
      <div class="carousel-caption">
        <h4>Top Movie #{{$index}}</h4>
        <p>{{slide.text}}</p>
      </div>
    </slide>
  </carousel>
  <div class="row-fluid">
    <div class="span6">
      <ul>
        <li ng-repeat="slide in slides">
          <button class="btn btn-mini" ng-class="{'btn-info': !slide.active, 'btn-success': slide.active}" ng-disabled="slide.active" ng-click="slide.active = true">select</button>
          {{$index}}: {{slide.text}}
        </li>
      </ul>
     
    </div>
    <div class="span6">
      Interval, in milliseconds: <input type="number" ng-model="myInterval">
      
    </div>
  </div>
</div>
      
      
      <div ng-view></div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
  </body>
</html>
