














<!---
Author: Chris Samuel
email : ksamuel.chris@gmail.com
date: Sunday, September 9th, 2013
Description : Demo Website for Bootstrap movie Widget
For CDN go to http://www.bootstrapcdn.com
              http://jquery.com/
              https://developers.google.com/speed/libraries/devguide?csw=1#jquery
              http://jquery.malsup.com/cycle/basic.html
9/8/2013
Added  header cdns and applied carousel
adjusted the images for optimal usages
Ideal Image Size:870x500

-->
    
    
<!DOCTYPE html>
<!-- Referenced as an example from by rabidGadfly.com -->
<!-- http://rabidgadfly.com/2013/03/super-easy-angular-image-gallery/ -->

<!-- Define this as an AngularJS app that uses the module named galleryApp -->
<html ng-app="MovWid">

<head>
<link href="../style.css" rel="stylesheet" type="text/css" />
<link href="../movieStyle.css" rel="stylesheet" type="text/css" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="js/movieSearch.js" type="application/javascript"></script>
    <script src="js/movieSlider.js" type="application/javascript"></script>
    <style>
        p{
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
        }
    </style>
</head>
    
 <!--- Start adding body code --->
 <body background="images/homepgBk.jpg">


    <!---Navigation bar --->

         
     <div class="container">
     <div class="navbar-header">
     <a href="#" class="navbar-brand"></a>
    
         
<div class="navbar-collapse collapse" id="navbar-main">
  <ul class="nav nav-tabs">
  <li class="active"><a href="index.html">Movie Widget</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Search My Movies</a></li>
  <li><a href="#">Order</a></li>
  <li><a href="#">FAQ</a></li>
  <li><a href="#">Contact</a></li>

              
</ul>
              
</div>
             
    
<div class="container-fluid">
    <div class="row-fluid">
    <div class="span2">
    <!--Sidebar content-->
    <input placeholder="Search:" ng-model="query"></div>
<!--     
        Sort by:
    <select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="age">Newest</option>
    </select>
-->    
</div> 
    </div>
    <div class="span10">
    <!-- list of movie results Body content-->
     
    <ul  ng-controller="CarouselController">
    <li ng-repeat="slide in slides | filter:query | orderBy:orderProp"class="thumbnail">
    <a href="images/{{slide.images}}"><img ng-src="images/{{slide.images}}" width="100" height="150"></a>
    <p style="align:right">Title: {{slide.Title}}</p>
    <p>Summary:{{slide.Summary}}</p>

    
    <p>Release Date:{{slide.Release_Date}}</p>
    <p><b>Genre:</b>{{slide.Genre}}</p>
    <p><b>Price Tier:</b>{{slide.Price_Tier}}</p>
    </li>
    </ul>
     
       </div>
    </div>
    </div>
     </body>
    </html>
    
    
    
    
    
    
    
    
    
    
    
    
    
    