            
    
<div ng-controller="CarouselController">


<input placeholder="Search" ng-model="query">
    <select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="age">Newest</option>
    </select>
 <ul class="phones" ng-repeat="slide in slides | filter:query | orderBy:orderProp"  >
        <li><img ng-src="images/{{slide.images}}"  width="100" height="150">
          <p >Title: {{slide.Title}}</p>
    <p>Summary:{{slide.Summary}}</p>

    
    <p>Release Date:{{slide.Release_Date}}</p>
    <p><b>Genre:</b>{{slide.Genre}}</p>
    <p><b>Price Tier:</b>{{slide.Price_Tier}}</p>
    </li>
    </ul>
</div>                                                                                                                                                                                                                               